Repository leosuncin/expense-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["xo --fix"],
  "*.{json,md,css,yml}": ["prettier --write"]
}

fix: typing errors when update RTK to v1.6
  src/app/store.ts
  src/features/expenses/ExpensesTable.spec.tsx
Due: xo --fix

fix(test): typing error
  src/features/expenses/AddExpense.spec.tsx
Due: xo --fix

fix(test): amend next.js internal packages
  src/utils/testUtils.tsx
Due: xo --fix

test(expenses): amend assertions
  __tests__/pages/api/expenses.spec.ts
Due: xo --fix

build(next): enable experimental ES Module support
  next.config.js
Due: xo --fix

fix: amend overrides types
  next-env.d.ts
  src/types.d.ts
Due: xo --fix

fix(db): change the signature of connect
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  __tests__/pages/api/expenses.spec.ts
  src/app/db.ts
  src/utils/middleware.ts
Due: xo --fix

fix: amend lint errors
  .xo-config.json
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  __tests__/pages/api/expenses.spec.ts
  cypress/cypress.d.ts
  cypress/integration/index.spec.ts
  cypress/plugins/index.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  fixtures/expenses.js
  setupTests.ts
  src/features/auth/LoginForm.spec.tsx
  src/features/auth/RegisterForm.spec.tsx
  src/features/auth/authApi.ts
  src/features/expenses/AddExpense.spec.tsx
  src/features/expenses/expenseApi.ts
  src/features/expenses/expenseApiHandlers.ts
  src/features/expenses/expenseMiddleware.ts
  src/pages/api/__coverage__.ts
  src/pages/index.tsx
  src/pages/login.tsx
  src/pages/register.tsx
  src/utils/helpers.ts
  src/utils/testUtils.tsx
  tsconfig.json
Due: xo --fix, prettier --write

fix(auth): amend types of user
  src/features/auth/User.ts
Due: xo --fix

chore: ignore more directories
  .prettierignore
Due: none

style: format with prettier
  src/features/expenses/expenseApiHandlers.ts
Due: xo --fix

fix: amend xo errors
  .xo-config.json
  __tests__/pages/api/expenses.spec.ts
  src/pages/api/__coverage__.ts
  src/pages/index.tsx
  src/utils/helpers.ts
Due: xo --fix, prettier --write

fix: typing errors
  src/app/store.ts
  src/features/auth/authSlice.ts
  src/features/expenses/expenseSlice.ts
Due: xo --fix

chore: upgrade to next.js v12
  next-env.d.ts
  tsconfig.json
Due: xo --fix, prettier --write
