Repository leosuncin/expense-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["xo --fix"],
  "*.{json,md,css,yml}": ["prettier --write"]
}

chore: add VSCode files
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier --write

chore: run MongoDB locally
  .env.example
  docker-compose.yml
Due: prettier --write

feat(auth): login using an existing user
  src/pages/api/auth/login.ts
Due: xo --fix

feat(auth): destroy the session
  src/pages/api/auth/logout.ts
Due: xo --fix

feat(auth): register a new user
  .env.example
  next-env.d.ts
  package.json
  src/app/db.ts
  src/features/auth/User.ts
  src/pages/api/auth/register.ts
  src/utils/middleware.ts
  yarn.lock
Due: xo --fix, prettier --write

feat(auth): add auth slice
  src/app/store.ts
  src/features/auth/authApi.ts
  src/features/auth/authSlice.ts
Due: xo --fix

feat(auth): validate request body
  package.json
  src/features/auth/authApi.ts
  src/features/auth/authSchemas.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/register.ts
  src/utils/middleware.ts
  yarn.lock
Due: xo --fix, prettier --write

feat(auth): add register form component
  package.json
  src/features/auth/RegisterForm.tsx
  src/features/auth/authSchemas.ts
  yarn.lock
Due: xo --fix, prettier --write

test(auth): register form component
  package.json
  src/features/auth/RegisterForm.spec.tsx
  src/features/auth/authFactories.ts
  yarn.lock
Due: xo --fix, prettier --write

feat(auth): add login form component
  src/features/auth/LoginForm.spec.tsx
  src/features/auth/LoginForm.tsx
Due: xo --fix

feat(auth): add login and register pages
  src/pages/login.tsx
  src/pages/register.tsx
Due: xo --fix

feat(auth): redirect after login/register
  package.json
  src/app/store.ts
  src/features/auth/authApi.ts
  src/pages/_app.tsx
  yarn.lock
Due: xo --fix, prettier --write

build: change the name of MongoDB connection
  .env.example
  next-env.d.ts
  src/app/db.ts
Due: xo --fix

test: add custom render
  setupTests.ts
  src/features/auth/LoginForm.spec.tsx
  src/features/auth/RegisterForm.spec.tsx
  src/features/counter/Counter.spec.tsx
  src/utils/testUtils.tsx
Due: xo --fix

fix: amend type of AppDispatch
  src/app/store.ts
Due: xo --fix

ci(github): remove CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci: enable Kodiak bot
  .kodiak.toml
Due: none

fix: amend compilation error due enums
  src/app/db.ts
Due: xo --fix

test: setup @shelf/jest-mongodb preset
  .gitignore
  .xo-config.json
  jest-mongodb-config.js
  jest.config.ts
  package.json
  setupTests.ts
  src/features/auth/LoginForm.spec.tsx
  src/features/auth/RegisterForm.spec.tsx
  src/features/counter/Counter.spec.tsx
  yarn.lock
Due: xo --fix, prettier --write

build(cypress): setup alias paths
  cypress/tsconfig.json
Due: prettier --write

test: load MongoDB fixtures
  __tests__/pages/api/auth/register.spec.ts
  fixtures/users.js
  package.json
  yarn.lock
Due: xo --fix, prettier --write

build: enable experimental Webpack 5
  next.config.js
Due: xo --fix

test(auth): login an user with API
  __tests__/pages/api/auth/login.spec.ts
Due: xo --fix

test(auth): e2e test the register page
  cypress/integration/auth/register.spec.ts
Due: xo --fix

refactor: remove else cases of error middleware
  src/features/auth/authApi.ts
  src/utils/middleware.ts
Due: xo --fix

ci(github): do not download Cypress and cache MongoDB memory server
  .github/workflows/ci.yml
Due: prettier --write

chore(cypress): add task to load fixtures
  cypress/plugins/index.ts
  cypress/plugins/tasks.ts
Due: xo --fix

test(auth): register a new user with API
  __tests__/pages/api/auth/register.spec.ts
  package.json
  src/utils/testUtils.tsx
  yarn.lock
Due: xo --fix, prettier --write

fix(auth): generate ObjectID instead of UUID
  src/features/auth/authFactories.ts
Due: xo --fix

style(auth): wrap input with div
  src/features/auth/LoginForm.tsx
  src/features/auth/RegisterForm.tsx
Due: xo --fix

test(auth): e2e test the login page
  cypress/integration/auth/login.spec.ts
Due: xo --fix

ci(github): run MongoDB service
  .github/workflows/ci.yml
Due: prettier --write

chore: remove warning of MongoDB
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
Due: xo --fix

feat: log critical errors
  src/utils/middleware.ts
Due: xo --fix

ci(github): increase size of secret cookie password
  .github/workflows/ci.yml
Due: prettier --write

test(auth): login fail with incorrect password
  __tests__/pages/api/auth/login.spec.ts
  src/pages/api/auth/login.ts
Due: xo --fix

fix: only validate body for methods: POST, PUT and PATCH
  src/utils/middleware.ts
Due: xo --fix

feat(expenses): add CRUD API
  package.json
  src/app/db.ts
  src/features/expenses/Expense.ts
  src/features/expenses/expenseSchemas.ts
  src/pages/api/expenses/[id].ts
  src/pages/api/expenses/index.ts
  src/utils/helpers.ts
  src/utils/middleware.ts
  yarn.lock
Due: xo --fix, prettier --write

chore(expenses): generate fixtures
  fixtures/expenses.js
Due: xo --fix

refactor(expenses): move verify logic to its own middleware
  src/pages/api/expenses/[id].ts
  src/pages/api/expenses/index.ts
Due: xo --fix
